{% extends 'base.html' %}
{% load static %}

{% load custom_filters %}

{% block searchbar %}
{% include 'searchbar.html' %}
{% endblock %}


{% block start %}


<div class="movie-detail-container">

    <img src="{{movie.poster_url}}" class="movie-detail-img" alt="Movie Poster">
    <div class="movie-detail-items">
        <div class="movie-detail-item" style="justify-content: space-between;">
            <p>{{movie.release_year}}</p>
            <p>{{movie.duration}} min</p>
        </div>
        <h3>{{movie.title}}</h3>
        <p>{{movie.description}}</p>

        <div class="movie-detail-item">
            <p>Genre:</p>
            <div class="movie-items">
                <form action="/search">
                    {% for genre in movie.genre|split_by_comma %}
                    <button type="submit" class="movie-item-button" name="genre" value="{{genre}}">{{ genre }}</button>
                    {% endfor %}
                </form>
            </div>

        </div>
        <div class="movie-detail-item">
            <p>Director:</p>
            <div class="movie-items">
                <form action="/search">
                    {% for director in directors %}
                    <button type="submit" style="font-size: 0.75rem;" class="movie-item-button" name="director" value="{{director.name}}">
                        {{director.name}}
                    </button>
                    {% endfor %}
                </form>
            </div>
        </div>

        <div class="movie-detail-item">
            <p>Casts: </p>
            <div class="movie-items">
                <form action="/search">
                    {% for cast in casts %}
                    <button type="submit" style="font-size: 0.75rem;" class="movie-item-button" name="actor" value="{{cast.name}}">{{cast.name}}</button>
                    {% endfor %}
                </form>
            </div>

        </div>


    </div>
    <div class="movie-detail-items">

        <div class='flex-center' style="display:flex; flex-direction: column;">
            IMDBb RATING
            <p>

                <strong style="font-size: 2rem; color: #F5C518;">{{movie.average_rating}}</strong> <span
                    style="font-weight: bold; font-size: 1.25rem;">/ 10</span>
            </p>
        </div>
        <div style="flex-direction: column;" class="flex-center">
            YOUR RATING
            <button class="rate-button">
                <img src="{% static 'images/star.png' %}" alt="" style="width: 35px;">
                Rate
            </button>

            <div class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Rate This</h2>
                    <div class="rating-container">
                        {% for i in 10|times %}
                        <input type="radio" id="star{{ i }}" name="rating" value="{{ i }}">
                        <label for="star{{ i }}"> {{i}}</label>
                        {% endfor %}
                    </div>



                    <button class="submit-rating button-primary">Submit</button>
                </div>
            </div>

        </div>
        <div class="flex-center">
            <button class="button-primary" id="watchlist-btn" style="width: 50%; min-width: 100px;"
                data-movie-id="{{ movie.id }}">
                Add to watchlist
            </button>

        </div>

    </div>

</div>

<script>

    document.addEventListener('DOMContentLoaded', function () {

        // Get the rate button and the modal
        const rateBtn = document.querySelector('.rate-button');
        const modal = document.querySelector('.modal');

        // When the rate button is clicked, show the modal
        rateBtn.addEventListener('click', function () {
            modal.style.display = 'block';
        });

        // Close the modal when the close button is clicked
        document.querySelector('.close').addEventListener('click', function () {
            modal.style.display = 'none';
        });

        // Submit the rating
        document.querySelector('.submit-rating').addEventListener('click', function () {
            const rating = document.querySelector('input[name="rating"]:checked').value;
            // Here you can do something with the rating, like sending it to a server
            console.log('Rating submitted:', rating);
            // For demonstration, I'm just closing the modal
            modal.style.display = 'none';
        });


        document.querySelector('#watchlist-btn').addEventListener('click', function () {
            const movieId = this.getAttribute('data-movie-id');
            const url = `/add_to_watchlist/${movieId}/`;
            console.log(url);
            fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(data => {
                    // alert(data.message);
                    const messageElement = document.createElement('div');
                    messageElement.textContent = data.message;
                    messageElement.style.position = 'fixed';
                    messageElement.style.top = '10%';
                    messageElement.style.left = '50%';
                    messageElement.style.transform = 'translate(-50%, -50%)';
                    messageElement.style.backgroundColor = 'rgba(173, 173, 173, 0.8)';
                    messageElement.style.padding = '10px';
                    messageElement.style.borderRadius = '5px';
                    messageElement.style.boxShadow = '0 0 10px rgba(0, 0, 0, 0.5)';
                    document.body.appendChild(messageElement);


                    setTimeout(function () {
                        messageElement.parentNode.removeChild(messageElement);
                    }, 2000);
                })
                .catch(error => {
                    alert('An error occurred. Please try again.');
                    console.error('Error:', error);
                });
        });
    });


</script>






{% endblock%}