:root {
    --yellow: #F5C518;
    --dark-yellow: #c69d08;

    --black: #000000;
    --white: #FFFFFF;
    --dark-gray: #333333;
    --light-gray: #E5E5E5;
    --blue: #0073E6;
    --red: #E50914;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: Arial, sans-serif;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    background-color: var(--dark-gray);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: .5rem 2%;
    border: 2px solid gray;
    border-radius: 10px;
}

.imdb-logo {
    width: 4rem;
    transition: 0.5s;
}

.imdb-logo img {
    width: 4rem;
    transition: transform 0.3s;
}

.imdb-logo img:hover {
    transform: scale(1.1);

}

.navbar-items {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

a {
    text-decoration: none;

}

a:hover {
    color: var(--yellow);
}

.button-secondary {
    background-color: var(--dark-gray);
    color: var(--blue);
    border: none;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.button-secondary:hover {
    background-color: rgba(59, 94, 163, 0.612);
    color: var(--blue);
}

.button-primary {
    background-color: var(--yellow);
    color: var(--black);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    height: 2rem;
    padding: 0.5rem;
    transition: 0.75s;
}

.button-primary:hover {
    background-color: var(--dark-yellow);
    color: white;
}


/* search bar */
.search-form {
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    column-gap: 5%;
    position: relative;
}

.search-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.search-input,
.search-select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0.25rem;

}


.advanced-search-btn {
    height: 2rem;
    border: none;
    background: none;


}

.advanced-search-btn img {
    height: 100%;
    transition: transform 0.3s;
}

.advanced-search-btn img:hover {
    transform: scale(1.2);
}

.search-advanced {
    display: none;
}

.search-show {
    display: grid !important;
    position: absolute;
    width: 100%;
    background: var(--dark-gray);
    top: 100%;
    padding: 5%;
    gap: 0.25rem;
    border-radius: 5%;
}

.search-hide {
    display: none !important;
}




/* Login/ register form */
.account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 1px var(--light-gray) solid;
    padding: 1rem;
    border-radius: 8px;
    row-gap: 1rem;
}

.form-flex {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.form-input {
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(0, 0, 0, .07) inset;
    height: 1.5rem;
}

.alert {
    background-color: var(--red);
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
}



/* movielistcart */
.movie-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2%;
}

.rating {
    color: var(--imdb-yellow);
}

.movie-card {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    border: 1px solid var(--dark-gray);
    padding: 10px;
    width: 20%;
    color: white;
    border-radius: 10px;
}

.movie-card img {
    width: 100%;
    height: 50%;
}

.movie-card-body {
    padding-top: .5rem;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


/* movie-details */
.movie-detail-container {
    display: flex;
    column-gap: 5%;
    padding: 2% 2%;
    background-color: var(--black);
    color: var(--light-gray);
    min-height: 40vh;

}

.movie-detail-img {
    width: 20%;
}

.movie-detail-items {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.movie-detail-item {
    display: flex;
    column-gap: 0.5rem;

}

.movie-items {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.movie-item-button {
    color: var(--light-gray);
    background-color: var(--dark-gray);
    padding: 3px 5px;
    border: 1px solid white;
    border-radius: 10px;
}

.movie-item-button:hover {
    background-color: var(--light-gray);
    color: var(--dark-gray);
}

.rate-button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 6rem;
    background: none;
    color: lightblue;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    flex-direction: column;
}

/* rating modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.rating-container input[type="radio"] {
    display: none;
}

.rating-container label {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    /* background-image: url('{% static 'images/star.png' %}'); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 12px;
    background-image: url('../images/star.png');

    background-size: cover;
}

.rating-container label:hover{
    transform: scale(1.5);
}

.rating-container input[type="radio"]:checked + label {
    transform: scale(1.5); /* Enlarge the label when the associated radio button is checked */
}

/* .submit-rating {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: lightblue;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
} */


/* Watchlist */
.watchlist-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.watchlist-movie-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: var(--light-gray);
}

.watchlist-movie-card img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.watchlist-movie-details {
    flex-grow: 1;
}

.watchlist-movie-title {
    font-size: 20px;
    margin: 0;
    color: #333;
}

.watchlist-movie-id {
    color: #666;
}

.watchlist-watch-status {
    font-weight: bold;
    margin-bottom: 0;
}

.watched {
    color: green;
}

.not-watched {
    color: red;
}

.watchlist-toggle-button {
    background-color: var(--yellow);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.watchlist-toggle-button:hover {
    background-color: var(--dark-yellow);
}

.comment-area {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.comment-user {
    font-weight: bold;
}

.comment-text {
    margin: 5px 0;
}

.reply-btn {
    /* background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px; */
    cursor: pointer;
}

.reply-btn:hover {
    /* background-color: #0056b3; */
}

.comment .comment {
    margin-left: 20px;
    background-color: #f0f0f0;
}
