<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script>
        function toggleAdvancedSearch() {
            var advancedSearch = document.querySelector(".search-advanced");
            advancedSearch.classList.toggle("search-show");
            advancedSearch.classList.toggle("search-hide");
        }
    </script>
</head>

<body>
    <nav class="navbar">
        <a href="\" class="imdb-logo">
            <img src="{% static 'images/imdb-logo.png' %}" alt="">
        </a>
        {% block searchbar %}
      
        {% endblock %}
        <div class="navbar-items">
            <a href="/profile/{{request.user.id}}"><div style="width: 2rem">
                <img src="{% static 'images/user-logo.png' %}" alt="" style="width: 100%;">
            </div></a>
            

            {% if request.user.is_authenticated %}
            <a class="button-primary" type="submit" href="/logout/">Logout</a>
            {% else %}
            <a class="button-primary" type="submit" href="/login/">Login</a>
            {% endif %}
            
        </div>
    </nav>
    {{request.user}}

    {% block start %}
    {% endblock %}

</body>
    {% block scripts %}
    {% endblock %}
</html>