<div class="card" style="width: 20%;">
    <img src="{{movie.poster_url}}" class="card-img-top" alt="Movie Poster">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="card-text">{{movie.release_year}}</p>
          <p class="card-text">Average Rating: {{movie.average_rating}}</p>
          <p class="card-text">Rating Count: {{movie.rating_count}}</p>
          <a href="/movies/{{movie.id}}" class="btn btn-primary">More Info</a>
        </div>
    </div>