{% load static %}
<div class="navbar-items">
    <form class="search-form" action="/search">
    
        <input class="search-input" type="text" id="title" name="title" placeholder="Enter movie title">
    
        <div class="search-advanced search-hide">
            <label class="search-label" for="genre">Genre:</label>
            <select class="search-select" id="genre" name="genre">
                <option value="">Select Genre</option>
                <option value="action">Action</option>
                <option value="comedy">Comedy</option>
                <option value="drama">Drama</option>
                <option value="Biography">Biography</option>
                <option value="Animation">Animation</option>
                <option value="Thriller">Thriller</option>
                <option value="Horror">Horror</option>
                <option value="Sci-Fi">Sci-Fi</option>


                
            </select>
    
            <label class="search-label" for="rating">Rating:</label>
            <select class="search-select" id="rating" name="rating">
                <option value="">Select Rating</option>
                <option value="1">1 Star</option>
                <option value="2">2 Stars</option>
                <option value="3">3 Stars</option>
                <option value="4">4 Stars</option>
                <option value="5">5 Stars</option>
                <option value="6">6 Stars</option>
                <option value="7">7 Stars</option>
                <option value="8">8 Stars</option>
                <option value="9">9 Stars</option>
                <option value="10">10 Stars</option>
            </select>
    
            <label class="search-label" for="director">Director:</label>
            <input class="search-input" type="text" id="director" name="director" placeholder="Enter director's name">
    
            <label class="search-label" for="actor">Actors:</label>
            <input class="search-input" type="text" id="actors" name="actor" placeholder="Enter actor's name">
        </div>
    
        <button class="button-primary" type="submit">Search</button>
        <button  class="advanced-search-btn search-button-toggle" type="button" onclick="toggleAdvancedSearch()">
            <img src="{% static 'images/advanced-search.png' %}" alt="">
        </button>
    </form>
</div>