{% extends 'base.html' %}
{% load static %}

{% block start %}
<div class="account-container">
    <h1>Login</h1>
    {% if messages %}
    {{message.tags}}
    <div id= 'alert-container' class="alert alert-primary"  role="alert">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    <form class="form-container" method="post">
        {% csrf_token %}
        <div class="form-flex">
            <label for="username">Username</label>
            <input name="username" type="text" class="form-input" id="username">
            <small style="font-size: 12px;">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-flex">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-input" name="password" id="exampleInputPassword1">
        </div>
        <div>
            <p>Don't have an account? <a href="/register">Register</a></p>
        </div>
        <button type="submit" class="button-primary">Submit</button>
    </form>
</div>
{% endblock %}


{% block scripts %}
<script>
    setTimeout(function() {
    var alertContainer = document.getElementById('alert-container');
    alertContainer.style.display = 'none';
}, 5000); // 5000 milliseconds = 5 seconds
</script>
{% endblock %}
